<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main class="main-area">
        <!-- Main area for the movie list -->
        <!-- <h1>Main Area</h1> -->
        

        <div class="signup-page">
            <form action="/signup" method="post" class="signup-form">
                <label for="title">Title</label>
                <select id="title" name="title">
                    <option value="mr">Mr.</option>
                    <option value="ms">Ms.</option>
                </select>

                <label for="first-name">First name</label>
                <input type="text" id="first-name" placeholder="Mark" value="Mark" name="firstName" required>

                <label for="last-name">Last name</label>
                <input type="text" id="last-name" placeholder="Pogi" value="Pogi" name="lastName" required>

                <label for="email">E-Mail</label>
                <input type="email" id="email" value="@email.com" name="email"required>

                <label for="password">Password</label>
                <input type="password" id="password"  name="password" required>

                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password"  placeholder="Confirm Password" name="confirmPassword" required>
                
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">

                <button type="submit" class="button">Sign Up</button>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>

   
   