<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main class="main-area">
        <div class="signup-page">
            <form action="/admin/add-movies" class="signup-form" method="POST">
                
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>

                <label for="year">Year</label>
                <input type="text" id="year" name="year"required>
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">

                <button type="submit" class="button">Add Movie</button>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>


    

    

   