<footer class="main-footer">
    <!-- Footer area -->
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a href="#">Support</a>
            </li>
            <li class="main-footer__link">
                <a href="#">Terms of Use</a>
            </li>
        </ul>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <p>All Rights Reserved &copy; 2020</p>
            </li>
        </ul>
    </nav>
</footer>

</body>

</html>