extends layouts/main-layout.pug


block content
  // Main area for the movie list
  // <h1>Main Area</h1>
  .movie
    .movie__header
      .movie__title
        h3 Bad Boys for Life
    .movie__body
      .movie__poster
        img(src='badboysforlife.jpg' alt='movie-poster')
    .movie__footer
      .movie__release-date
        h4 2020
  .movie
    .movie__header
      .movie__title
        h3 1917
    .movie__body
      .movie__poster
        img(src='1917.jpg' alt='movie-poster')
    .movie__footer
      .movie__release-date
        h4 2019
  .movie
    .movie__header
      .movie__title
        h3 Ford v Ferrari
    .movie__body
      .movie__poster
        img(src='fordvferrari.jpg' alt='movie-poster')
    .movie__footer
      .movie__release-date
        h4 2019
  .movie
    .movie__header
      .movie__title
        h3 Ip Man 4: The Finale
    .movie__body
      .movie__poster
        img(src='ipman4.jpg' alt='movie-poster')
    .movie__footer
      .movie__release-date
        h4 2019
  .movie
    .movie__header
      .movie__title
        h3 Star Wars: The Rise of Skywalker
    .movie__body
      .movie__poster
        img(src='starwars9.jpg' alt='movie-poster')
    .movie__footer
      .movie__release-date
        h4 2019
  .movie
    .movie__header
      .movie__title
        h3 Transformers: The Last Knight
    .movie__body
      .movie__poster
        img(src='transformersthelastknight.jpg' alt='movie-poster')
    .movie__footer
      .movie__release-date
        h4 2017
