extends layouts/main-layout.pug


block content
  // Main area for the movie list
  // <h1>Main Area</h1>
  if movies.length > 0
      each movie in movies
          .movie
              .movie__header
                  .movie__title
                      h3 #{movie.title}
              .movie__body
                  .movie__poster
                      img(src='../badboysforlife.jpg' alt='movie-poster')
              .movie__footer
                  .movie__release-date
                      h4 #{movie.year}
  else
      h1 No Movies
