.movie {
    padding: 5px;
    margin: 10px;
    background-color: var(--CreamyWhite);
    box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.75);
    justify-content: center;
    width: 80vw;    
    overflow: hidden;
    border-radius: 5px;
    flex: none;
}
.movie__header {
    height: 3rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--VolcanicRock);
}
.movie__poster {
    padding: 1px;
    background-color: var(--VolcanicRock);
    overflow: hidden;
    
}
.movie__poster img {    
    width: 100%;
    display: block;
}

.movie__footer {
    color: var(--MachaGreen);